header {
    background: #0b0b0f;
}

#icones{
    text-align: center;
}

.rodape {
    background-color: #0b0b0f;
    color: #fff;
    padding: 30px 0px 30px 15px;
    margin-top: 50px;
    text-align: left;
}

.mouse {
    cursor: pointer;
}

