.categoria-titulo {
    text-align: center;
    padding: 10px 0px 10px 0px;
}


/* BOX DE PRODUTO */


/* .conteiner {
    width: 300px;
    padding: 2px;
    display: inline-block;
    margin: 50px;
}


.borda {
    transition: 0.1s;
} */

.card:hover {
    border-radius: 5px;
    transition: 0.1s;
    border: 2px solid #0b0b0f;
}

.nome-produto {
    padding: 20px 0px 00px 0px;
    text-align: center;
    font-size: 30px;
    margin: 20px 0px 0px 0px;
}

.descricao {
    padding: 10px;
}

.preco {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.botao {
    background-color: #0b0b0f;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px;
    margin: 5px;
    border-radius: 15px;
    transition: 0.5s;
    font-size: 21px;
}

.botao:hover {
    background-color: rgb(165, 165, 165);
    color: #0b0b0f;
}